*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  background-color: #4cb9f8;
  overflow-x: hidden;
}

nav {
  background-color: black;
  height: 10vh;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav h2 {
  padding-top: 25px;
  font-size: 2em;
}

@media (max-width: 700px) {
  nav h2 {
    font-size: 1.5em;
  }
}

.svg {
  margin-right: 20px;
  margin-top: 20px;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/photos/furry-dog-smiling-with-tongue-out-picture-id1287452200?b=1&k=20&m=1287452200&s=170667a&w=0&h=1XDHJ1DNyzoZ1fellkNKHhmmORqx2Oqt-PSSFJ4eS50=");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .hero {
    background-size: contain;
  }
}

.hero-card {
  height: auto;
  width: 40%;
  position: relative;
  top: 100px;
  z-index: 2;
  background-color: whitesmoke;
  border: 2px black solid;
  left: 15px;
}

@media (max-width: 800px) {
  .hero-card {
    width: 100%;
    left: 0;
    position: absolute;
    top: 70vh;
  }
}

@media (max-width: 500px) {
  .hero-card {
    top: 40vh;
  }
}

.hero-card h1 {
  font-style: bold;
  font-size: 3em;
}

.card-text {
  margin: 1em;
}

.card-text p {
  margin-top: 60px;
  font-size: 1.3em;
  color: #353434;
}

.bottom {
  width: 100vw;
  height: auto;
  background-color: #4cb9f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bottom .bottom-text {
  color: white;
  padding: 2em;
  margin-left: 5%;
  background-color: #2980b9;
}

.bottom .bottom-text h1 {
  font-style: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

.bottom .bottom-text li {
  font-size: 1.5em;
  background-color: #2980b9;
}

iframe {
  width: 50%;
  height: 300px;
  z-index: 4;
  margin: 2% 2%;
}

@media (max-width: 650px) {
  iframe {
    width: 80%;
    margin: auto;
    margin-top: 5em;
  }
}

@media (max-width: 500px) {
  iframe {
    width: 80%;
    margin: auto;
    margin-top: 1em;
  }
}

.btn {
  background: #3498db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#2980b9));
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 15%;
}

@media (max-width: 800px) {
  .btn {
    margin-top: 5%;
  }
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3cb0fd), to(#3498db));
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.bottom-btn {
  border-radius: 28px;
  font-family: Georgia;
  background-color: #050005;
  color: white;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  display: block;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}

.bottom-btn:hover {
  cursor: pointer;
}

footer{
  height: auto;
  background-color: black;
  color: white;
  width: 100vw;
text-align: center;
}

footer p {
  font-size: .8em;
  
}
footer h2 {
  margin-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */